.ticketContainer {
  display: block;
  text-align: center;
  width: 821px;
  height: 445px;
  margin: 0 auto;
  background: var(--secondary-color);
}

.radioBtn {
  margin-left: 73px;
  margin-right: 20px;
}
.radioItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
